# This workflow will build a Java project with Maven, create Docker image, and scan for vulnerabilities

name: Java CI with Maven

on:
  push:
    branches: [ "pavan" ]
  pull_request:
    branches: [ "pavan" ]

env:
  IMAGE_NAME: pavankumar4233/gowtham
  IMAGE_TAG: ${{ github.run_number }}

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package -DskipTests --file pom.xml

    - name: Run Trivy filesystem scan on Maven dependencies (JSON output)
      uses: aquasecurity/trivy-action@0.28.0
      with:
        scan-type: 'fs'
        scan-ref: '.'
        format: 'json'
        output: 'trivy-results-fs.json'
        severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'
        scanners: 'vuln,secret,misconfig,license'
      continue-on-error: true

      
    - name: Upload Vulnerability Scan Results
      uses: actions/upload-artifact@v4
      with:
          name: trivy-report-fs
          path: trivy-results-fs.json
      continue-on-error: true

    - name: Build Docker image
      run: |
        docker build -t ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .


    - name: Scan for vulnerabilities with Trivy for docker image (JSON output)
      uses: aquasecurity/trivy-action@0.28.0
      with:
        image-ref: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
        format: 'json'
        output: 'trivy-image-scan.json'
        severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'
      continue-on-error: true
      
    - name: Upload Vulnerability Scan Results
      uses: actions/upload-artifact@v4
      with:
          name: trivy-report-image
          path: trivy-image-scan.json
      continue-on-error: true


    

  
